<!-- Anton Danylenko, Ian Searfoss -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title>SudokuHub || Main</title>
  </head>
  <body onload="newGame()">
    <header>SudokuHub</header>
    <div class="navbar">
      <div id="settings">
        <a href="" onclick="return false;">
          <img src="/static/img/pause.svg" alt="Pause" onclick="checkPause()">
        </a>
        <div id="utensils">
          <a class="active" id="pen" href="" onclick="return false;">
            <img src="/static/img/pen.svg" alt="Pen" onclick="switchUtensil(0)">
          </a>
          <a id="pencil" href="" onclick="return false;">
            <img src="/static/img/pencil.svg" alt="Pencil" onclick="switchUtensil(1)">
          </a>
        </div>
      </div>
      <div id="difficulty">
        <ul>
          <li><a class="active" id="easy" href="">Easy</a></li>
          <li><a id="medium" href="">Medium</a></li>
          <li><a id="hard" href="">Hard</a></li>
        </ul>
      </div>
      <div id="time">
        00:00:00
      </div>
    </div>
    <div id="puzzle" hidden>{{ puzzle }}</div>
    <div class="board">
      <canvas id="myCanvas" width="603" height="603"></canvas>
    </div>
    <div class="pauseMenu">
      <h1>Game Paused</h1>
      <p>Press the pause button again to resume the game</p>
      <p>Use the pencil tool to keep track of your guesses</p>
      <p>Use the pen tool to enter in a guess</p>
    </div>

    <button type="button" onclick="secret()" id="secretHolder"><img src="static/img/easterEggImage.jpg" alt="owo what's this?"  id="secret"></button>
    <div id="winAlert" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <center>
          <h2>YOU WON!!!</h2>
          <div id="finalTime">Time: 00:00:00</div>
          <br>
          <div class="userInfoBoard">
            <h3 class="infoBoardStuff">User Survey</h3>
            <form id="infoBoard" name="infoBoardForm" class="infoBoardStuff">
              Name: <input name="User's Name" type="text" placeholder="John Doe" required><br>
              <div>
                <h5>Your difficulty</h5>
                <input type="radio" name="difficulty" value="easy" checked> Easy<br>
                <input type="radio" name="difficulty" value="medium"> Medium<br>
                <input type="radio" name="difficulty" value="hard"> Hard<br>
              </div>
              <div>
                <h5>Rating</h5>
                <select>
                  <option value=0 name="enjoyment">0</option>
                  <option value=1 name="enjoyment">1</option>
                  <option value=2 name="enjoyment">2</option>
                  <option value=3 name="enjoyment">3</option>
                  <option value=4 name="enjoyment">4</option>
                  <option value=5 name="enjoyment">5</option>
                  <option value=6 name="enjoyment">6</option>
                  <option value=7 name="enjoyment">7</option>
                  <option value=8 name="enjoyment">8</option>
                  <option value=9 name="enjoyment">9</option>
                  <option value=10 selected name="enjoyment">10</option>
                </select>
              </div>
              <br>
             <button onclick="updateInfoBoard()" name="Submit">Submit</button>
            </form>
            <div id="infoList"></div>
            <br>
          </div>
          <br>
          <button id="newGame" onclick="newGame()">NEW GAME</button>
        </center>
      </div>
    </div>
    <script src="static/js/board.js"></script>
  </body>
</html>
